* {
    font-family: 'Press Start 2P', cursive;
}

.grid {
    display: grid;
    grid-template-columns: 40vmin 20vmin;
    grid-column-gap: 2vmin;
    justify-content: center;
}

.field {
    width: 40vmin;
    height: 80vmin;
    background-color: aquamarine;
    display: flex;
    flex-wrap: wrap;
}
.field div {
    width: 4vmin;
    height: 4vmin;
    outline: aqua;
    outline-style: dashed;
}

.colorblue {
    background-color: blue;
}

.right-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.play-button {
    background-color: #4caf50;
    font-size: 1.6vmin;
    padding: 1.5vmin 3vmin;
    cursor: pointer;
}
