.field {
    width: 200px;
    height: 400px;
    background-color: aquamarine;
    display: flex;
    flex-wrap: wrap;
}
.field div {
    width: 20px;
    height: 20px;

}
.tetromino {
    background-color: blue;
}